<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKOV8miI7uFxFLjcQNR6WsMX65dG5wEm8</string>
	<key>GCM_SENDER_ID</key>
	<string>802917998810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testDrive</string>
	<key>PROJECT_ID</key>
	<string>noble-feat-404013</string>
	<key>STORAGE_BUCKET</key>
	<string>noble-feat-404013.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802917998810:ios:016c8dde31b045faffc5e3</string>
</dict>
</plist>